.modules {
	display: flex;
	gap: var(--lg);
	flex-wrap: wrap;
	justify-content: center;
}

.firstRow {
	display: flex;
	flex-wrap: wrap;
	gap: var(--lg);
}

.effects {
	display: flex;
	flex-wrap: wrap;
	gap: var(--lg);
}
