.border {
	border: 4px solid var(--bg-color-dark);
	border-radius: 10px;
	padding: var(--md);
}

.modules {
	display: flex;
	gap: var(--lg);
	flex-wrap: wrap;
	justify-content: center;
}

.firstRow {
	display: flex;
	flex-wrap: wrap;
	gap: var(--lg);
	justify-content: center;
}

.effects {
	composes: border;
	display: flex;
	flex-wrap: wrap;
	gap: var(--lg);
	justify-content: center;
}

.oscs {
	composes: border;
	display: flex;
	gap: var(--lg);
	justify-content: center;
}

.noise {
	composes: border;

	height: fit-content;
}

.github {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 30px;
	cursor: pointer;
	
	&:hover {
		transform: scale(1.1);
	}
}
