.drawerContainer {
	--transition-speed: 0.2s;
}

.drawer {
	width: 40rem;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--dark);
	transition: transform var(--transition-speed) ease-out,
		visibility var(--transition-speed) ease-out;
	visibility: hidden;
	transform: translateX(100%);
	padding: var(--sm);

	&.drawerOpen {
		transform: translateX(0);
	}
}

.tab {
	height: 4rem;
	width: 4rem;
	background-color: var(--dark);
	position: fixed;
	bottom: var(--md);
	border-radius: 50% 0 0 50%;
	right: 0;
	cursor: pointer;
	transition: transform var(--transition-speed) ease-out;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0.2rem;

	&.tabOpen {
		transform: translateX(-40rem);
	}
}

.chevron {
	width: 1.2rem;
	transition: transform var(--transition-speed) ease-out;

	&.chevronOpen {
		transform: rotate(180deg);
	}
}

.drawerContainer.open .drawer {
	visibility: visible;
}

.overlay {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	pointer-events: none;
	transition: opacity var(--transition-speed) ease-out,
		visibility var(--transition-speed) ease-out;

	&.overlayOpen {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}
}
