.onButton {
	width: 100px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: width var(--transition-speed) ease-out;

	&:hover {
		width: 110px;
	}
}
