.groupWrapper {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: var(--xs);
}

.radio {
	&:checked + label {
		background-color: var(--light);
		color: var(--dark);
	}
}

.label {
	border-radius: var(--xs);
	padding: var(--xs) var(--sm);
	background-color: var(--dark);
	color: var(--light);
	display: inline-block;
	cursor: pointer;
}
