.slider {
	appearance: none;
	width: 100%;
	height: var(--md);
	background: var(--dark);
	outline: none;
	border-radius: 100px;
	cursor: pointer;
	padding: var(--xs);

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: var(--sm);
		height: var(--sm);
		background: var(--bg-color);
		border-radius: 50%;
		transition: all var(--transition-speed) ease-in-out;

		&:focus {
			background: var(--light);
		}
	}

	&:active {
		&::-webkit-slider-thumb {
			transform: scale(1.1);
			background: var(--light);
		}
	}
}
