.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.input {
	opacity: 0;
	width: 0;
	height: 0;

	&:checked + .slider {
		background-color: var(--light);
	}

	&:checked + .slider:before {
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
		background-color: var(--dark);
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark);
	-webkit-transition: var(--transition-speed);
	border-radius: 34px;
	transition: var(--transition-speed);

	&:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 2px;
		bottom: 2px;
		background-color: var(--light);
		-webkit-transition: var(--transition-speed);
		transition: var(--transition-speed);
		border-radius: 50%;
	}
}
