*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: var(--xs);
}

::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
}
