@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");

:root {
	background-color: var(--bg-color);
	--bg-color: #6a8b94;
	--bg-color-light: #85aeba;
	--bg-color-dark: #60818a;
	--light: #bacacf;
	--dark: #2a3133;

	--transition-speed: 0.1s;

	--xs: 0.8rem;
	--sm: 1.6rem;
	--md: 2.2rem;
	--lg: 3rem;
	--xl: 3.8rem;

	color: var(--dark);
	font-family: "Ballo Baijaan 2", sans-serif;
	font-optical-sizing: auto;
}
